.vs/
.git/
bin/
obj/
/bin/Debug/net8.0-windows/win-x64/youtube-collector.deps.json
/bin/Release/net8.0-windows/win-x64/youtube-collector.deps.json
/bin/Release/net8.0-windows/win-x64/youtube-collector.dll
/bin/Release/net8.0-windows/win-x64/youtube-collector.exe
/bin/Release/net8.0-windows/win-x64/publish/youtube-collector.exe
/ffmpeg/ffmpeg.exe
/ffmpeg/ffplay.exe
/ffmpeg/ffprobe.exe
/obj/Debug/net8.0-windows/win-x64/singlefilehost.exe
/obj/Debug/net8.0-windows/win-x64/youtube-collector.AssemblyInfo.cs
/obj/Debug/net8.0-windows/win-x64/youtube-collector.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/win-x64/youtube-collector.assets.cache
/obj/Debug/net8.0-windows/win-x64/youtube-collector.csproj.AssemblyReference.cache
/obj/Debug/net8.0-windows/win-x64/youtube-collector.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0-windows/win-x64/youtube-collector.csproj.FileListAbsolute.txt
/obj/Debug/net8.0-windows/win-x64/youtube-collector.designer.deps.json
/obj/Debug/net8.0-windows/win-x64/youtube-collector.dll
/obj/Debug/net8.0-windows/win-x64/youtube-collector.sourcelink.json
/obj/Release/net8.0-windows/win-x64/ref/youtube-collector.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Release/net8.0-windows/win-x64/PublishOutputs.a80d1f46bf.txt
/obj/Release/net8.0-windows/win-x64/refint/youtube-collector.dll
/obj/Release/net8.0-windows/win-x64/singlefilehost.exe
/obj/Release/net8.0-windows/win-x64/youtube-collector.AssemblyInfo.cs
/obj/Release/net8.0-windows/win-x64/youtube-collector.AssemblyInfoInputs.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.assets.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.csproj.AssemblyReference.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.csproj.CoreCompileInputs.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.csproj.FileListAbsolute.txt
/obj/Release/net8.0-windows/win-x64/youtube-collector.csproj.GenerateResource.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.deps.json
/obj/Release/net8.0-windows/win-x64/youtube-collector.designer.deps.json
/obj/Release/net8.0-windows/win-x64/youtube-collector.dll
/obj/Release/net8.0-windows/win-x64/youtube-collector.genbundle.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.genpublishdeps.cache
/obj/Release/net8.0-windows/win-x64/youtube-collector.sourcelink.json
/obj/youtube-collector.csproj.nuget.dgspec.json
/obj/youtube-collector.csproj.nuget.g.props
/obj/youtube-collector.csproj.nuget.g.targets
/obj/Debug/net8.0-windows/win-x64/ref/youtube-collector.dll
/obj/Debug/net8.0-windows/win-x64/refint/youtube-collector.dll
