body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.row {
  text-align: center;
  display: flex;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

h1 {
  margin-bottom: 0.25em;
}

p {
  margin-top: 0.25em
}

.form {
  margin-bottom: 1em;
}

input[type="text"],
input[type="file"] {
  padding: 0.5em;
  margin-right: 0.5em;
}

button {
  padding: 0.5em 1em;
}

:required {
  border-color: red;
}

.status {
  margin-top: 1em;
  font-size: 14px;
}

#message {
  margin-bottom: 0.5em;
}

#console {
  font-family: monospace;
  text-align: left;
  white-space: pre;
  overflow-y: auto;
  max-height: 200px;
  padding: 0.5em;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

#console div {
  white-space: pre-wrap;
  word-break: break-word;
  justify-content: center;
}
