body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #212121;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

h1 a{
    color:#1db954;
}

h1 a:visited {
    color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
}

button#downloadLink {
    margin-top: 5%;
    background-color: #1db954;
    text-align: center;
}

button#downloadLink:hover {
    background-color: #45a049;
}

button#downloadLink a,button#downloadLink a:visited,button#downloadLink a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Style for the button */
#fileBrowserButton {
    background-color: #1d73b9;
}

#fileBrowserButton:hover {
    background-color: #3470a1;
}

.button-container {
    display: flex;
    justify-content: space-between; /* or space-between */
    margin-top: -10px;
}

#conversionButton:hover {
    background-color: #45a049;
}

#conversionButton {
    background-color: #1db954;
}

#clearButton {
    background-color: #b91d1d;
}

#clearButton:hover {
    background-color: #a13a3a;
}